/* === Nav Bar Styling === */
.nav-link {
  font-size: 1rem;
  font-family: 'Libre Baskerville', serif;
  color: #ddfcadff;
}

.nav-link:hover {
  color: white;
}

.navbar-brand {
  padding: 5px;
  border: 1px solid grey;
  border-radius: 10px;
}



/* === Main Content Styling == */

.jumbotron {
  margin-bottom: 0;
  background: rgba(10, 131, 84, 0.24);
}

.title {
  text-align: center;
  margin-top: 5vh;
}
.sec-title {
  color: #c8e087ff;
  background: rgb(52,58,64);
  padding: 3vh 0;
  text-align: center;
}
.sub-title {
  margin: 5vh 0;
  text-decoration: underline;
}
.card {
  box-shadow: 2px 2px 5px grey;
}
.card:hover {
  box-shadow: 0px 0px 1px grey, inset 1px 2px 2px lightgray;
}
.effects-card {
  width: 80vw;
  margin: 50px auto;
}
.type-card {
  width: 60vw;
  margin: 50px auto;
}
.video-section video {
  width: 60vw;
  margin: 0 20vw;
  box-shadow: 1px 2px 4px grey;
}

#who-we-are p {
  width: 75%;
  margin: 50px 12.5%;
}
/* 
=== What We Offer List Styling ===
*/

.list-group {
  width: 75%;
  margin: 100px auto;
}
.list-group-title {
  font-family: 'Libre Baskerville';
  text-decoration: underline;
  text-align: center;
}
#form {
  max-width: 75%;
  margin: 25px auto;
}
input {
  margin-bottom: 15px;
}

/* Media Queries to adjust the font-sizes of a few elements */
@media only screen and (max-width: 700px) {
  html {
    font-size: .9rem;  }
}
@media only screen and (max-width: 550px) {
  html {
    font-size: .8rem;  
  }
  #heading {
    font-size: 2.5rem;
  }
  .title {
    font-size: 2rem;
  }
}